html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    padding:10px;
}
#searchresults{
    display: none;
    position: relative;
    padding:10px;
    background-color: #fff;
    z-index:1000;
}
#searchresults li:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}