body {
	font-family: Arial, Helvetica, sans-serif;
	background: #b0d4e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #b0d4e3 0%, #3379ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d4e3), color-stop(100%,#3379ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b0d4e3 0%,#3379ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b0d4e3 0%,#3379ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b0d4e3 0%,#3379ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b0d4e3 0%,#3379ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#3379ff',GradientType=0 ); /* IE6-9 */
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background: #b0d4e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #b0d4e3 0%, #3379ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d4e3), color-stop(100%,#3379ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b0d4e3 0%,#3379ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b0d4e3 0%,#3379ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b0d4e3 0%,#3379ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b0d4e3 0%,#3379ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#3379ff',GradientType=0 ); /* IE6-9 */
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

table {
	border: none;
}

table thead th {
	background-color: #3379ff;
	text-align: center;
}

table tbody td {
	background-color: #EFEFEF;
	color: #000000;
	text-align: center;
}

th, td, tr {
	padding: 8px;
	color: white;
}

fieldset {
	border: 1px solid #1F7EAD;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 10px 2px #808080;
    box-shadow: 0px 0px 10px 2px #808080;
    background-color: #EFEFEF;
    min-height: 700px;
    padding: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;
}

.noMargin {
	margin: 0 !important;
}

.blueFont {
	color: #3379ff;
}

.orangeFont {
	color: #ed5200;
}

.center {
	display: block !important;
	margin: 0 auto !important;
}